.l-nav{
    position:sticky;
    top:0;
    z-index:1;
    background-color: white;
}
.l-mr{
    margin-right:1rem;
}
.btn-outline-success{
    color: #bf9017;
    border-color: #bf9017;
}
.btn-outline-success:hover{
    background-color: #bf9017;
    border-color:#bf9017;
}
.btsas{
    width:69px;
}
.mr-1{
    margin-right:0.5rem;
}
.l-main-img{
    height:460px;
    width:860px;    
}
.img-center{
    display:flex;
    justify-content: center;
}
.l-drop{
    width:450px;
}
.l-btn{
    border-radius: 500px;
    width:290px;
    height:55px;
}
.l-foot{
    height:290px;
}
.l-foot-inside{
    width:350px;
}
.l-foot-icon{
    color:black;
    text-align:center;

}
.l-font12{
    font-size:12px;
}
.l-font25{
    font-size:2.3vw;
    font-weight:bolder;
}
.l-font24{
    font-size:2vw;
    font-weight:bolder;
}
.l-a{
    text-decoration:none;
    color:black;
    font-weight: bolder;
}
.l-text-area{
    height: 300px;
    width: 610px;
    resize: none; 
        
}
.l-input{
    width:320px;
}
.l-res-inside{
    width:610px;    
}
.l-res-box{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.l-float-l{
    float:left;
    clear:left;
    clear:bottom;
}
.l-float-r{
    float:right;
}
.l-bot-bor{
    border-bottom:1px solid rgb(172, 171, 171);
}
.l-btn-cor{
    background-color: #f8f9fa;
    color:black;
}
.l-text-ver{
    text-align:left;
}

@media screen and (max-width:48rem){
    .l-res-box{
        transform:scale(0.6);
    }
    .l-main-img{
        width:100%;
    }
}
.aaa{
    background-color: #BFAE82;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:48px 0;
    
}