html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  font-family: Noto Sans, Noto Sans KR, sans-serif, "malgun gothic", "Apple SD Gothic Neo", 맑은고딕, 돋움, Dotum, Helvetica, sans-serif;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none  
}

.park-logo-height {
  height: 50px;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color:white;
}

.nav-link:hover {
  color: #bf9017;
  text-decoration: none;
  font-weight: 600;
}

input::placeholder {
  font-size: 14px;
  line-height: center;
}

.btn {
  width: 69px;
}

.btn-outline-success {
  color: #bf9017;
  border-color: #bf9017;
}

.btn-outline-success:hover {
  background-color: #bf9017;
  border-color: #bf9017;
  color: white;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: white;
    background-color:  #bf9017;
    border-color:  #bf9017;
}

main {
  height: 968px;
  background-color: rgb(41,65,171);
  background-image: url("./images/back11_720.png");
  background-position: 46% 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline {
  text-align: center;
  font-size: 70px;
  line-height: 166px;
  color: #BFAE82;
  font-weight: 900;
  position: relative;  
  padding-bottom: 5px;
}

.headline-first {
  position: relative;  
  bottom: 10rem;
}

.second-headline {
  color: white;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  position: relative;
  bottom: 7rem;
}

.third-headline {
  color: white;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  position: relative;
  bottom: 7rem;
}

.search-area {
  text-align: center;
  position: relative;  
  left: 20px;
  bottom: 5rem;  
  background: transparent;
  border-radius: 0;
  padding: 0 16px 0 0;  
  height: 50px;
  line-height: 50px;
}

.search_style {
  border-radius: 10px;
  border: 1px solid white;
}

.search-style {
  padding: 14px 32px;
  background-color: #1ed760;
  border-radius: 500px;
  font-size: inherit;
  color: #2941ab;
  font-weight: 700;
  border: none;
  position: relative;
  bottom: 3rem;
}

.fa-magnifying-glass {
  position: relative;
  right: 43px;
  top: 4.5px;
  color: black;
  font-size: 25px;
}

.main-list {
  color: white;
  font-size: 10px;
  line-height: 24px;
  padding-bottom: 40px;  
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 5rem;
  right: 10px;  
}

.main-list-item:hover {
  font-weight: bold;
  color: #BFAE82;
}

.main-list-pick {
  font-weight: 400;
}

.image-container {
  position: relative;  
  display: inline-block;      
}
.image-container:hover .overlay-text {
  display: block;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  border-radius: 5px;
}

.name {
  position: absolute;
  left: 70%;  
  z-index: 2;
  bottom: 10px;
  color: white;
  font-size: large;
  font-weight: 1000;
  text-align: center;  
  padding: 20px;
  }

.list_content {
  text-align: center;  
}

.img-item {
  width: 600px;
  height: 400px;
  padding: 28px 17px; 
  z-index: 1; 
}

.l-foot{
  height:290px;
}
.l-foot-inside{
  width:350px;
}
.l-foot-icon{
  color:black;
  text-align:center;

}
.l-font12{
  font-size:12px;
}

.l-font25{
  font-size:25px;
  font-weight:bolder;
}

@media screen and (max-width:48rem) {
  .headline {
    font-size: 50px;
  }

  .main-list {
    font-size: 20px;
  }
}