.l-nav{
    height:90px;
    padding:0 100px;
    width:100%;
   
}
.l-nav-center{
    text-align: center;
}
.l-mar-r10{
    padding:0 10px;
}
.l-nav-log{
    width:90px;
    display:flex;
    align-items: center;
}
.main-top{
    padding-top:90px;
}
.l-main-img{
    height:460px;
    width:860px;    
}
.img-center{
    display:flex;
    justify-content: center;
}
.l-drop{
    width:450px;
}
.l-btn{
    border-radius: 500px;
    width:290px;
    height:55px;
}
.l-foot{
    height:290px;
}
.l-foot-inside{
    width:350px;
}
.l-foot-icon{
    color:black;
    text-align:center;

}
.l-font12{
    font-size:12px;
}
.l-font25{
    font-size:25px;
    font-weight:bolder;
}
.l-a{
    text-decoration:none;
    color:black;
    font-weight: bolder;
}
.l-text-area{
    height: 300px;
    width: 610px;
    resize: none; 
        
}
.l-input{
    width:320px;
}
.l-res-inside{
    width:610px;    
}
.l-res-box{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.l-float-l{
    float:left;
    clear:left;
    clear:bottom;
}
.l-float-r{
    float:right;
}
.l-bot-bor{
    border-bottom:1px solid rgb(172, 171, 171);
}
.l-btn-cor{
    background-color: #f8f9fa;
    color:black;
}
.l-text-ver{
    text-align:left;
}
.l-mob-res{
    display:none;
}
@media screen and (max-width:48rem){
    .l-res-box{
        transform:scale(0.7);
    }
    .l-main-img{
        width:100%;
    }
}